# Global
.*.swp
.DS_Store

data/*
!data/

logs/*
!logs/nginx
!logs/php

# PHPStorm
.idea/

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# VSCode
.vscode/

# SSL Certs
etc/ssl/*
!etc/ssl
